{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'fapp/css/home.css' %}">


<div class="row">
    <h1>All Expense</h1><br>
    <h1>All Expense</h1><br>
    <a href="{% url 'addexpense' %}"><h4>Add New</h4></a>
    <hr>
</div>


{% if expense %}
<div class="table-responsive">
<table class="table table-hover table-dark table-striped">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Created Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    {% for data in expense %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{data.category}}</td>
      <td> {{data.amount}}</td>
      <td>{{data.date}}</td>
      {% if data.description %}
      <td>{{data.description }}</td>
      {% else %}
      <td><p>No Data</p></td>
      {% endif %}
      <td>{{data.created_at }}</td>
      <td>{{data.updated_at }}</td>
      
      
      <td><a href="{% url 'exupdate' data.id %}"> <i class="fas fa-edit edit-icon"></i></a> </td>
      <td><a href="{% url 'exdelete' data.id %}"><i class="fas fa-trash delete-icon"></i></a></td>

    </tr>

    {% endfor %}

  </tbody>
</table>
</div>
{% else %}
<div class="me">
  <h2>No Expense Data Available</h2>
</div>
{% endif %}

{% endblock %}