body {
    /* background-color: #f0f0f0; */
    font-family: 'Lora', serif;
    /* background: linear-gradient(to bottom, #dbeafe, #e0e7ff); */
    background-color: black;

    /* background: linear-gradient(to bottom, #f8fcff, #d9f1fa, #c2dfe3); 
    
     background: linear-gradient(to bottom, #e0f7fa, #b2ebf2); 
     background: linear-gradient(to bottom, #f8fcff, #d9f1fa, #c2dfe3); 
     background: linear-gradient(to right, #e6f7ff, #ccdfe3); */

    /* background: url('images/R.jpg') no-repeat center center; */
}

.container {

    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
    /* width: auto; */

    /* min-height: 100vh;  */
    /* Full height on smaller screens */
    
        
}

input {
    width: 100%;
    padding: 10px;
    /* margin: 10px 0; */
    border: 1px solid #ccc;
    border-radius: 4px;

    transition: all 0.3 ease;
}

/* input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
} */

input:hover,
input:focus {
    border-color: #0072ff;
    box-shadow: 0 0 8px rgba(0, 114, 255, 0.2);
}

.card {
    animation: anim 0.5s ease-in-out;

    background: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background: rgba(255, 255, 255, 0.8);
    
    /* height: 500px;
    Remove the hardcoded height: 500px to allow the card to resize dynamically.
     */
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}





h1 {
    text-align: center;
    margin-bottom: 30px;
}

.btn-primary {
    width: 100%;

}

.btn-primary {
    background-color: #0072ff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056d3;
}


.link {

    text-align: center;
    margin-top: 15px;
    /* margin-top: 60px;
    text-align: center; */
}

 
 /* body { 
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
 }
 .card{
    background-color: black;
 }


 .btn-primary {
     background-color: #000205;
     border: none;
 }

 .btn-primary:hover {
     background-color: #01070f;
 }

 .form-control:focus {
     border-color: #0072ff;
     box-shadow: 0 0 4px rgba(0, 114, 255, 0.3);
 } */