{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h4>Add Member</h4>
            </div>

            <div class="card-body">
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-warning alert-dismissible fade show"
                    role="alert">
                    {{message }}
                    <button type="button" class="btn-close"
                        data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <label for="group_name">Member Name</label>
                    <input type="text" name="username" placeholder="Username"
                        class="form-control" required>
                    <button type="submit" class="btn btn-success w-100">Add
                        Member</button>
                </form>
                {% if group_id %}
                
                <p><a href="{% url 'allgroup' %}">Go Back</p></a>
                {% endif %}    
            </div>
        </div>
    </div>
</div>
{% endblock %}
